
:root {
  --Lemon-Chiffon: #fbf8cc;
  --Powder-Petal: #fde4cf;
  --Cotton-Rose: #ffcfd2;
  --Pink-Orchid: #f1c0e8;
  --Periwinkle: #cfbaf0;
  --Baby-Blue-Ice: #a3c4f3;
  --Sky-Blue-Light: #90dbf4;
  --Electric-Aqua: #8eecf5;
  --Soft-Cyan: #98f5e1;
  --Celadon: #b9fbc0;
  
  --font-titles: 'DynaPuff', cursive;
  --font-text-primary: 'Nunito', sans-serif;
  --font-text-secondary: 'Poppins', sans-serif;
}

footer{
    position: relative;
    overflow: hidden;
    background-color: rgba(111, 86, 66, 0.9);
    
}

.wave svg{
    width: 100%;
    height: auto;
    display: block;
}

.logo-footer{
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
}

.huellita{
    width: 100px;
    margin-bottom: 5px;
}

.titulo-footer{
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    margin: 0;
}

.rosa{
    color: #FF8AAE;
    font-family: var(--font-titles);
    font-weight: 700;
     font-size: 2rem;

}

.blanco{
    color: white;
    font-family: var(--font-titles);
    font-weight: 700;
     font-size: 2rem;
}
.eslogan{
    color: white;
    font-family: var(--font-text-secondary);
    font-weight: 700;
     font-size: 1rem;
     text-align: center;

}
.lista{
    color: #FF8AAE;
    font-family: var(--font-titles);
    font-weight: 700;
     font-size: 1.5rem;

}
.textlist{
        color: white;
    font-family: var(--font-text-secondary);
    font-weight: 700;
     font-size: 1rem;
     text-align: center;

}

.mensaje{
        color: #A9B96B;
    font-family: var(--font-titles);
    font-weight: 600;
        max-width:230px;
}


.submensaje{
    color: white;
    font-family: var(--font-text-secondary);
    font-weight: 700;
    font-size: .9rem;
    line-height:1.5rem;

    max-width:200px;;
}


.footer-bottom{
    background:#A9B96B;
    padding:12px;
    text-align:center;
    font-size:12px;
}
/*color del texto*/

.social-list a{
    color: white;           
    text-decoration: none;
}

/*color del icono*/
.social-list i{
    color: #A9B96B;           
    font-size: 18px;
    margin-right: 10px;
}

.textlist{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}

.icon-circle{
    width: 27px;
    height: 27px;
    background: #A9B96B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-circle i{
    color: white;
    font-size: 16px;
}

/*imagenes de fondo*/
.perro1{
    position: absolute;

    width: 100px;
    height: auto;

    opacity: 0.1;

    top: 95px;
    right: 10rem;
}

.perro2{
    position: absolute;

    width: 100px;
    height: auto;

    opacity: 0.1;

    bottom: 150px;       /* Distancia desde abajo */
    left: 15rem;          /* La coloca en el centro */
    
}

.perro3{
    position: absolute;

    width: 100px;
    height: auto;

    opacity: 0.1;

    top: 150px;
    left: 50rem;
}

.gatito1{
    position: absolute;

    width: 100px;
    height: auto;

    opacity: 0.1;

    bottom: 4rem;       /* Distancia desde abajo */
    left: 65rem;        
    
}

.gatito2{
    position: absolute;

    width: 90px;
    height: auto;

    opacity: 0.1;

    bottom: 16rem;       /* Distancia desde abajo */
    left: 32rem;         
    
}
.gatito3{
    position: absolute;

    width: 100px;
    height: auto;

    opacity: 0.1;

    bottom: 18rem;       /* Distancia desde abajo */
    left: 2rem;         /* La coloca en el centro */
    
}

.gatito4{
    position: absolute;

    width: 95px;
    height: auto;

    opacity: 0.1;

    bottom: 3rem;       /* Distancia desde abajo */
    left: 35rem;         /* La coloca en el centro */
    
}

.imagen-lado{
    position: absolute;

    width: 100px;
    height: auto;

    bottom: 11rem;       /* Distancia desde abajo */
    left: 75rem;         
}


