    <footer>
        <!--Ondulado parte superior-->
        <div class="wave">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 140" preserveAspectRatio="none">
                <path fill="#A8BC67" d="M0,80
                    C120,20 240,120 360,80
                    C480,40 600,120 720,80
                    C840,20 960,120 1080,80
                    C1200,40 1320,120 1440,80
                    L1440,0
                    L0,0
                    Z" />
            </svg>
        </div>

        <img src="{{src}}/assets/footer/perrito1.png" class="perro1" alt="perrito_1">
        <img src="{{src}}/assets/footer/perrito2.png" class="perro2" alt="perrito_2">
        <img src="{{src}}/assets/footer/perrito3.png" class="perro3" alt="perrito_3">
        <img src="{{src}}/assets/footer/gatito1.png" class="gatito1" alt="gatito_1">
        <img src="{{src}}/assets/footer/gatito2.png" class="gatito2" alt="gatito_2">
        <img src="{{src}}/assets/footer/gatito3.png" class="gatito3" alt="gatito_2">
        <img src="{{src}}/assets/footer/gatito4.png" class="gatito4" alt="gatito_2">

        <img src="{{src}}/assets/footer/imagen-footer2.png" alt="planta" class="imagen-lado">

        <div class="container-fluid px-3 py-4">
            <div class="row gx-5 align-items-start">

                <!-- Logo -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="logo-footer">
                        <img src="{{src}}/assets/footer/Huellita-footer.png" alt="Huella" class="huellita">
                        <h3 class="titulo-footer">
                            <span class="blanco">Marcando</span><br>
                            <span class="rosa">Huellitas</span>
                        </h3>
                        <h4 class="eslogan"> Adopta con el corazón, cuida con amor</h4>
                    </div>
                </div>

                <!-- Ayuda -->
                <div class="col-12 col-sm-6 col-md-2">
                    <h4 class="lista">Tienda</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{root}}/index.html" class="textlist">
                                <span class="icon-circle"><i class="fa-solid fa-house"></i></span> Inicio
                            </a>
                        </li>
                        <li>
                            <a href="{{src}}/pages/productos.html" class="textlist">
                                <span class="icon-circle"><i class="fa-solid fa-bag-shopping"></i></span> Productos
                            </a>
                        </li>
                        <li>
                            <a href="{{src}}/pages/nosotros.html" class="textlist">
                                <span class="icon-circle"><i class="fa-solid fa-paw"></i></span> Nosotros
                            </a>
                        </li>
                        <li>
                            <a href="{{src}}/pages/Contactenos.html" class="textlist">
                                <span class="icon-circle"><i class="fa-solid fa-phone"></i></span> Contacto
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Ayuda -->
                <div class="col-12 col-sm-6 col-md-2">
                    <h4 class="lista">Huellitas</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{root}}/index.html#adopciones" class="textlist">
                                <span class="icon-circle"><i class="fa-solid fa-paw"></i></span> Adopciones
                            </a>
                        </li>
                        <li>
                            <a href="{{root}}/index.html#asociaciones" class="textlist">
                                <span class="icon-circle"><i class="fa-solid fa-handshake"></i></span> Asociaciones
                            </a>
                        </li>
                        <li>
                            <a href="{{root}}/index.html#refugios" class="textlist">
                                <span class="icon-circle"><i class="fa-solid fa-house"></i></span> Refugios
                            </a>
                        </li>
                        <li>
                            <a href="{{src}}/pages/donaciones.html" class="textlist">
                                <span class="icon-circle"><i class="fa-solid fa-heart"></i></span> Donaciones
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Ayuda -->
                <div class="col-12 col-sm-6 col-md-2">
                    <h4 class="lista">Síguenos</h4>
                    <ul class="list-unstyled social-list">
                        <li>
                            <a href="#" class="textlist"><i class="bi bi-facebook"></i> Facebook</a>
                        </li>
                        <li>
                            <a href="#" class="textlist"><i class="bi bi-instagram"></i> Instagram</a>
                        </li>
                        <li>
                            <a href="#" class="textlist"><i class="bi bi-twitter-x"></i> Twitter</a>
                        </li>
                    </ul>
                </div>

                <!-- Mensaje -->
                <div class="col-12 col-sm-6 col-md-3">
                    <h4 class="mensaje">¡Tu ayuda deja una huellita en sus corazones!</h4>
                    <br>
                    <p class="submensaje">El 100% de las donaciones seran destinadas a los refugios participantes.</p>
                </div>

            </div>
        </div>

        <div class="footer-bottom">
            © 2026 Marcando Huellitas | Privacidad | Términos
        </div>
    </footer>


